<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="CAF" type="CAF.Configuration.NamedConfigurationSectionGroup, CAF">
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
      <section name="objectBuilder" type="CAF.Configuration.ObjectBuilderConfigurationSection,CAF" />
      <section name="chain" type="CAF.Configuration.ChainConfigurationSection,CAF" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add connectionString="Data Source=(localdb)\v11.0;Initial Catalog=CAF;Integrated Security=True;Pooling=False" name="CAFConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <CAF>
    <unity>
      <typeAliases>
        <typeAlias alias="IValidation" type="CAF.Validations.IValidation,CAF.Utility" />
        <!--验证操作 -->
        <typeAlias alias="IValidationHandler" type="CAF.Validations.IValidationHandler,CAF.Utility" />
        <!--验证处理器 -->
        <typeAlias alias="Validation" type="CAF.Validations.Validation,CAF.Utility" />
        <!--验证操作 -->
        <typeAlias alias="ValidationHandler" type="CAF.Validations.ValidationHandler,CAF.Utility" />
        <!--验证处理器 -->
      </typeAliases>
      <containers>
        <container>
          <type  type="IValidation" mapTo="Validation" />
          <type  type="IValidationHandler" mapTo="ValidationHandler" />
        </container>
      </containers>
    </unity>
  </CAF>
</configuration>