<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CAF" type="CAF.Configuration.NamedConfigurationSectionGroup, CAF">
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
      <section name="objectBuilder" type="CAF.Configuration.ObjectBuilderConfigurationSection,CAF" />
      <section name="chain" type="CAF.Configuration.ChainConfigurationSection,CAF" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add connectionString="Data Source=(localdb)\v11.0;Initial Catalog=CAF;Integrated Security=True;Pooling=False" name="CAFConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <CAF>
    <objectBuilder>
      <builders>
        <add name="ProductBuild">
          <steps>
            <add name="step1" seqence="2" times="2" />
            <add name="step2" seqence="1" times="1" />
          </steps>
        </add>
      </builders>
      <objectPool>
        <add name="AdvancedCalculator" max="3" timeout="2000" />
        <add name="SimpleCalculator" max="2" timeout="2000" />
      </objectPool>
    </objectBuilder>
    <unity>
      <typeAliases>
        <typeAlias alias="Product" type="TestCAF.IProduct,TestCAF" />
        <typeAlias alias="ProductA" type="TestCAF.ProductA,TestCAF" />
        <typeAlias alias="ProductB" type="TestCAF.ProductB,TestCAF" />
        <typeAlias alias="AdvancedCalculator" type="TestCAF.AdvancedCalculator,TestCAF" />
        <typeAlias alias="SimpleCalculator" type="TestCAF.SimpleCalculator,TestCAF" />
        <typeAlias alias="ProductBuild" type="TestCAF.Product,TestCAF" />
      </typeAliases>
      <containers>
        <container name="A">
          <types>
            <type type="Product" mapTo="ProductA">
              <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,                                Microsoft.Practices.Unity.Configuration">
                <constructor>
                  <param name="env" parameterType="System.String">
                    <value value="zzzzzz" />
                  </param>
                </constructor>
              </typeConfig>
            </type>
          </types>
        </container>
        <container name="B">
          <types>
            <type type="Product" mapTo="ProductB" />
          </types>
        </container>
        <container name="C">
          <types>
            <type name="p2" type="Product" mapTo="ProductB" />
            <type name="p1" type="Product" mapTo="ProductA" />
          </types>
        </container>
      </containers>
    </unity>
    <chain>
      <channels>
        <channel name="request">
          <handler name="handler1" type="CAF.Test.InternalHandler,CAF.Test">
            <successors>
              <add name="handler3" type="CAF.Test.DiscountHandler,CAF.Test">
                <successors>
                  <add name="handler2" type="CAF.Test.MailHandler,CAF.Test" />
                  <add name="handler4" type="CAF.Test.RegularHandler,CAF.Test" />
                </successors>
              </add>
            </successors>
          </handler>
        </channel>
      </channels>
    </chain>
  </CAF>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>