<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generates a very simple business object." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Property Name="ClassNamespace" Type="System.String" Category="Options" Default="BusinessObjects" Description="" %>
<%@ Property Name="Children" Type="List<String>"  Optional="True" Category="Options"  Description="子对象集合（适用于1对多）" %>
<%@ Property Name="Child" Type="List<String>"  Optional="True" Category="Options"  Description="子对象（适用于1对1）" %>
<%@ Property Name="AsChildren" Type="List<String>"  Optional="True" Category="Options"  Description="作为子对象集合（适用于1对多）" %>
<%@ Property Name="AsChild" Type="List<String>"  Optional="True" Category="Options"  Description="作为子对象（适用于1对1）" %>
<%@ Property Name="WithMany" Type="List<String>"  Optional="True" Category="Options"  Description="实现多对多映射" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Map Name="SqlCSharp" Src="Sql-CSharp" Description="System to C# Type Map" %>
<%@ Map Name="DbDataReader" Src="DbType-DataReaderMethod" Description="DbType to DataReader Method Map" %>
<%@ Map Name="SqlNativeSqlDb" Src="SqlNativeType-SqlDbType" Description="SqlNativeType to SqlDbType Map" %>
<%@ Map Name="DbTypeCSharp" Src="DbType-CSharp" Description="DbType to CSharp Map" %>

using System;
using System.Collections.Generic;
using System.Linq;

namespace <%= ClassNamespace %>.Model
{
    using CAF.Data;
    using CAF.Validation;
    using System.ComponentModel.DataAnnotations;
    using System.Data;

    [Serializable]
	public partial class <%= GetClassName(SourceTable) %> :  BaseEntity<<%= GetClassName(SourceTable) %>>
	{   
        public <%= GetClassName(SourceTable) %>()
		{
            Connection = SqlService.Instance.Connection;
            base.MarkNew();
			<%foreach(string item in Children){ %>
            <%= GetListMember2(item)%> = new Lazy<<%=item%>List>(() => Init<%=item%>s(this), isThreadSafe: true);          
            <%} %>
            <%foreach(string item in Child){ %>
    		<%= GetListMember3(item)%> = new Lazy<<%=item%>>(() => <%=item%>.GetBy<%=GetClassName(SourceTable)%>Id(Id), isThreadSafe: true);
            <%} %> 
            <%foreach(string item in WithMany){ %>
    		<%= GetListMember2(GetRelationshipItem(item))%> = new Lazy<<%=GetRelationshipItem(item)%>List>(() => Init<%=GetRelationshipItem(item)%>s(this), isThreadSafe: true);
            <%} %> 
            <%foreach(string item in Children){ %>
            <%=item%>s= new <%=item%>List();        
            <%} %>
			<%foreach(string item in WithMany){ %>
            <%=GetRelationshipItem(item)%>s= new <%=GetRelationshipItem(item)%>List();        
            <%} %>
		}
		
            
		#region 公共属性

		<% foreach (ColumnSchema column in SourceTable.NonPrimaryKeyColumns) { %>	
		<%if( !IsSystemFiled(column)){%>
        <%= GetMemberVariableDeclarationStatement(column)%>
		<% }} %> 
        <%foreach(string item in Children){ %>
        private <%=item%>List <%= GetListMember1(item)%>;
        private Lazy<<%=item%>List> <%= GetListMember2(item)%>;       
        <%} %>
        <%foreach(string item in Child){ %>
        private <%=item%> <%= GetListMember4(item)%>;
        private Lazy<<%=item%>> <%= GetListMember3(item)%>;       
        <%} %>
		<%foreach(string item in WithMany){ %>
        private <%=GetRelationshipItem(item)%>List <%= GetListMember1(GetRelationshipItem(item))%>;
        private Lazy<<%=GetRelationshipItem(item)%>List> <%= GetListMember2(GetRelationshipItem(item))%>;       
        <%} %>
        
		<% for (int i = 0; i < SourceTable.NonPrimaryKeyColumns.Count; i++) { %>
        <%  ColumnSchema  column=SourceTable.NonPrimaryKeyColumns[i];%>
        <% if(!IsSystemFiled(column)) {%>
        <% if(GetDescription(column)!="") { %>
        /// <summary>
        /// <%= GetDescription(column) %>
        /// </summary>
        <% } %>
        <% if(!column.AllowDBNull && !ColumnIsGuid(column)) { %>
        [Required(ErrorMessage="<%if(GetDescription(column)!="") {%><%= GetDescription(column).Replace("Id","") %><% }else{%><%= GetPropertyName(column).Replace("Id","") %><%}%>不允许为空")]
        <%}%>
          <% if(ColumnIsString(column) && column.Size>-1) { %>
        [StringLength(<%=column.Size %>,ErrorMessage="<%if(GetDescription(column)!="") {%><%= GetDescription(column) %><% }else{%><%= GetPropertyName(column) %><%}%>长度不能超过<%=column.Size %>")]
        <%}%>
        <% if(ColumnIsGuid(column) && !column.AllowDBNull) { %>
        [GuidRequired(ErrorMessage="<%if(GetDescription(column)!="") { %><%= GetDescription(column).Replace("Id","") %><% }else{%><%= GetPropertyName(column).Replace("Id","") %><%}%>不允许为空")]
        <%}%>
        <% if(ColumnIsDateTime(column) ) { %>
        [DateTimeRequired(ErrorMessage="<%if(GetDescription(column)!="") {%><%= GetDescription(column).Replace("Id","") %><% }else{%><%= GetPropertyName(column).Replace("Id","") %><%}%>不允许为空")]
        <%}%>
		public <%= GetCSharpVariableType(column) %><%=IsSystemNullAble(column)%> <%= GetPropertyName(column) %>
		{
			get {return <%= GetMemberVariableName(column) %>;} 
            set {SetProperty("<%= GetPropertyName(column) %>",ref <%=GetMemberVariableName(column)%>, value);}           	
		}
        
        <% if (GetPropertyName(column).EndsWith("Id")){ %>	
        <% if(GetDescription(column)!="") { %>
        /// <summary>
        /// <%= GetDescription(column).Replace("Id","") %>
        /// </summary>
        <% } %>
        <%if(IsRecurrence(column)) {%>
        public <%= GetClassName(SourceTable) %> <%= GetPropertyName(column).Replace("Id","") %>
		{
			get
			{ 
				<%if(column.AllowDBNull){%>
				return !<%= GetPropertyName(column)%>.HasValue ? null : <%= GetClassName(SourceTable) %>.Get(<%= GetPropertyName(column)%>.Value);
				<%}else{%>
				return <%= GetClassName(SourceTable) %>.Get(<%= GetPropertyName(column)%>);
				<%} %>
			}        	
		}
        <%}else{ %>
        public <%= GetPropertyName(column).Replace("Id","")%> <%= GetPropertyName(column).Replace("Id","") %>
		{
			get
			{ 
				<%if(column.AllowDBNull){%>
				return !<%= GetPropertyName(column)%>.HasValue ? null : <%= GetPropertyName(column).Replace("Id","") %>.Get(<%= GetPropertyName(column)%>.Value);
				<%}else{%>
				return <%= GetPropertyName(column).Replace("Id","") %>.Get(<%= GetPropertyName(column)%>);
				<%} %>
			}        	
		}
        <%} %>

        
        <% }  %>  
		<% }} %>        
        <%foreach(string item in Children){ %>
        public <%=item%>List <%= item %>s
        {
            get
            {
                if (!<%= GetListMember2(item)%>.IsValueCreated)
                {
                    <%= GetListMember1(item)%> = <%= GetListMember2(item)%>.Value;
                }
                return <%= GetListMember1(item)%>;
            }
            internal set
            {
                <%= GetListMember1(item)%> = value;
            }
        }
        
        <%} %>
        <%foreach(string item in Child){ %>
        public <%=item%> <%= item %>
        {
            get
            {
                if (!<%= GetListMember3(item)%>.IsValueCreated)
                {
                    <%= GetListMember4(item)%> = <%= GetListMember3(item)%>.Value;
                }
                return <%= GetListMember4(item)%>;
            }
            set
            {
                if (!<%= GetListMember3(item)%>.IsValueCreated)
                {
                    <%= GetListMember4(item)%> = <%= GetListMember3(item)%>.Value;
                }
                <%= GetListMember4(item)%> = value;
				if (<%= GetListMember4(item)%> == null)
                {
                    return;
                }
                <%= GetListMember4(item)%>.OnPropertyChange += MarkDirty;
                <%= GetListMember4(item)%>.<%= GetClassName(SourceTable) %>Id = Id;
            }
        }
        <%} %>    
		<%foreach(string item in WithMany){ %>
        public <%=GetRelationshipItem(item)%>List <%= GetRelationshipItem(item) %>s
        {
            get
            {
                if (!<%= GetListMember2(GetRelationshipItem(item))%>.IsValueCreated)
                {
                    <%= GetListMember1(GetRelationshipItem(item))%> = <%= GetListMember2(GetRelationshipItem(item))%>.Value;
                }
                return <%= GetListMember1(GetRelationshipItem(item))%>;
            }
            internal set
            {
                <%= GetListMember1(GetRelationshipItem(item))%> = value;
            }
        }
        <%} %>   
        <%if(Child.Count>0 || Children.Count>0||WithMany.Count>0){%>        
        public override bool IsValid
        {
            get
            {
			    Errors=new List<string>();
                var isValid = true;
                var baseValid = base.IsValid;
                <%foreach(string item in Children){ %>
                foreach (var item in <%=item%>s.Where(item => !item.IsValid))
                {
                    Errors.AddRange(item.Errors);
                    isValid = false;
                }
                <%} %>
                <%foreach(string item in Child){ %>
                if (<%= GetListMember3(item)%>.IsValueCreated && <%=item%>!=null && !<%=item%>.IsValid)
                {
                    Errors.AddRange(<%=item%>.Errors);
                    isValid = false;
                }
                <%} %>
				<%foreach(string item in WithMany){ %>
				<%= GetListMember2(GetRelationshipItem(item))%>.IsValueCreated.IfIsTrue(
                () =>
                {
                    foreach (var item in <%=GetRelationshipItem(item)%>s.Where(item => !item.IsValid))
                    {
                        Errors.AddRange(item.Errors);
                        isValid = false;
                    }
                });
                <%} %>
               return baseValid && isValid;
            }
            protected set { _isValid = value; }
        }
        
        <%} %>
        
		#endregion
        
        #region 常量定义
        
        const string QUERY_GETBYID = "SELECT Top 1 * FROM <%= SourceTable.Name %> WHERE Id = @Id  AND Status!=-1";
        const string QUERY_GETAll = "SELECT * FROM <%= SourceTable.Name %> WHERE  Status!=-1";
        const string QUERY_DELETE = "UPDATE <%= SourceTable.Name %> SET Status=-1 WHERE Id = @Id AND  Status!=-1";
        const string QUERY_EXISTS = "SELECT Count(*) FROM <%= SourceTable.Name %> WHERE Id = @Id AND Status!=-1";
        <%foreach(string item in AsChildren){ %>
        const string QUERY_GETALLBY<%=item.ToUpper()%> = "SELECT * FROM <%= SourceTable.Name %> WHERE  Status!=-1 And <%=item%>=@<%=item%>";
        <%} %>
       <%foreach(string item in AsChild){ %>
        const string QUERY_GETBY<%=item.ToUpper()%> = "SELECT Top 1 * FROM <%= SourceTable.Name %> WHERE Status!=-1 And <%=item%>=@<%=item%>";
        <%} %>
		<%foreach(string item in WithMany){ %>
        const string QUERY_GETALLBY<%=GetRelationshipItem(item).ToUpper()%>ID = "SELECT t1.* FROM <%= SourceTable.Name %> t1 INNER JOIN <%=item%> t2 on t1.Id=t2.<%= GetClassName(SourceTable)%>Id  where t2.<%=GetRelationshipItem(item)%>Id=@<%=GetRelationshipItem(item)%>Id AND t1.Status!=-1 AND t2.Status!=-1";
        const string QUERY_CONTAINS<%=item.Replace("Sys_R_","").Replace("_","").ToUpper()%> = "SELECT COUNT(*) FROM <%=item%> WHERE  <%= GetClassName(SourceTable)%>Id = @<%= GetClassName(SourceTable)%>Id AND <%=GetRelationshipItem(item)%>Id=@<%=GetRelationshipItem(item)%>Id";
        const string QUERY_ADDRELARIONSHIPWITH<%=item.Replace("Sys_R_","").Replace("_","").ToUpper()%> = "INSERT INTO <%=item%> (<%= GetClassName(SourceTable)%>Id,<%=GetRelationshipItem(item)%>Id,Status)VALUES(@<%= GetClassName(SourceTable)%>Id, @<%=GetRelationshipItem(item)%>Id,0)";
        const string QUERY_DELETERELARIONSHIPWITH<%=item.Replace("Sys_R_","").Replace("_","").ToUpper()%> = "UPDATE <%=item%> SET Status=-1 WHERE <%= GetClassName(SourceTable)%>Id=@<%= GetClassName(SourceTable)%>Id AND <%=GetRelationshipItem(item)%>Id=@<%=GetRelationshipItem(item)%>Id AND Status!=-1";
		<%} %>
        const string QUERY_INSERT="<%=GetInsertQueryString() %>";
        const string QUERY_UPDATE = "UPDATE <%= SourceTable.Name %> SET {0} WHERE  <%= SourceTable.PrimaryKey.MemberColumns[0].Name %> = @<%= SourceTable.PrimaryKey.MemberColumns[0].Name %>";
                
        #endregion
        		
        #region 静态方法
        
		public static <%= GetClassName(SourceTable) %> Get(<%= GetPrimaryKeyType(SourceTable) %> id)
		{
			using (IDbConnection conn = SqlService.Instance.Connection)
            {
                var item= conn.Query<<%= GetClassName(SourceTable) %>>(QUERY_GETBYID, new { Id = id }).SingleOrDefault<<%= GetClassName(SourceTable) %>>();
                if (item == null)
                {
                    return null;
                }
                item.MarkOld();
                <%foreach(string item in Children){ %>
                item.<%= GetListMember2(item)%> = new Lazy<<%=item%>List>(() => Init<%=item%>s(item), isThreadSafe: true);
                <%} %>
                <%foreach(string item in Child){ %>
				item.<%= GetListMember3(item)%> = new Lazy<<%=item%>>(() => Init<%=item%>(item), isThreadSafe: true);                   
                <%} %>  
				<%foreach(string item in WithMany){ %>
                item.<%= GetListMember2(GetRelationshipItem(item))%> = new Lazy<<%=GetRelationshipItem(item)%>List>(() => Init<%=GetRelationshipItem(item)%>s(item), isThreadSafe: true);
                <%} %>  
                return item;
            }
		}
		 
		public static <%= GetCollectionClassName(SourceTable) %> GetAll()
		{
			using (IDbConnection conn = SqlService.Instance.Connection)
            {               
                var items = conn.Query<<%= GetClassName(SourceTable) %>>(QUERY_GETAll, null).ToList();                
                var list=new <%= GetCollectionClassName(SourceTable) %>();
                foreach (var item in items)
                {
                    item.MarkOld();
                    <%foreach(string item in Children){ %>
                    item.<%= GetListMember2(item)%> = new Lazy<<%=item%>List>(() => Init<%=item%>s(item), isThreadSafe: true);
                    <%} %>
                    <%foreach(string item in Child){ %>                    
                    item.<%= GetListMember3(item)%> = new Lazy<<%=item%>>(() => Init<%=item%>(item), isThreadSafe: true);      
					<%} %> 
					<%foreach(string item in WithMany){ %>
                     item.<%= GetListMember2(GetRelationshipItem(item))%> = new Lazy<<%=GetRelationshipItem(item)%>List>(() => Init<%=GetRelationshipItem(item)%>s(item), isThreadSafe: true);
                    <%} %> 
                    list.Add(item);
                }
                list.MarkOld();
                return list;
            }
		}        
		
       <%foreach(var childItem in AsChildren){ %>
       public static <%= GetCollectionClassName(SourceTable) %> GetAllBy<%=childItem%>(Guid <%=GetCamelCaseName(childItem)%>)
		{
			using (IDbConnection conn = SqlService.Instance.Connection)
            {                
                var items = conn.Query<<%= GetClassName(SourceTable) %>>(QUERY_GETALLBY<%=childItem.ToUpper()%>, new { <%=childItem%> = <%=GetCamelCaseName(childItem)%> }).ToList();
              	var list=new <%= GetCollectionClassName(SourceTable) %>();
                foreach (var item in items)
                {
                    item.MarkOld();
                    <%foreach(string item in Children){ %>
					item.<%= GetListMember2(item)%> = new Lazy<<%=item%>List>(() => Init<%=item%>s(item), isThreadSafe: true);                 
                    <%} %>
                    <%foreach(string item in Child){ %>
            		item.<%= GetListMember3(item)%> = new Lazy<<%=item%>>(() => Init<%=item%>(item), isThreadSafe: true);      
                    <%} %> 
					<%foreach(string item in WithMany){ %>					
                     item.<%= GetListMember2(GetRelationshipItem(item))%> = new Lazy<<%=GetRelationshipItem(item)%>List>(() => Init<%=GetRelationshipItem(item)%>s(item), isThreadSafe: true);
                    <%} %> 
                    list.Add(item);
                }
				list.MarkOld();
                return list;
            }
		}
		
        <%} %>
       <%foreach(var childItem in AsChild){ %>
		public static <%= GetClassName(SourceTable) %> GetBy<%=childItem%>(Guid <%=GetCamelCaseName(childItem)%>)
		{
			using (IDbConnection conn = SqlService.Instance.Connection)
            {                
                var item= conn.Query<<%= GetClassName(SourceTable) %>>(QUERY_GETBY<%=childItem.ToUpper()%>, new { <%=childItem%> = <%=GetCamelCaseName(childItem)%> }).SingleOrDefault<<%= GetClassName(SourceTable) %>>();
                if (item != null)
                {
                    item.MarkOld();
                    <%foreach(string item in Children){ %>
                    item.<%= GetListMember2(item)%> = new Lazy<<%=item%>List>(() => Init<%=item%>s(item), isThreadSafe: true);
                    <%} %>
                    <%foreach(string item in Child){ %>
            		item.<%= GetListMember3(item)%> = new Lazy<<%=item%>>(() => Init<%=item%>(item), isThreadSafe: true);      
                    <%} %> 
					<%foreach(string item in WithMany){ %>
                    item.<%= GetListMember2(GetRelationshipItem(item))%> = new Lazy<<%=GetRelationshipItem(item)%>List>(() => Init<%=GetRelationshipItem(item)%>s(item), isThreadSafe: true);
                    <%} %> 
                }                
                return item;
            }
		}
		
        <%} %>
	<%foreach(string childItem in WithMany){ %>
       public static <%= GetCollectionClassName(SourceTable) %> GetAllBy<%=GetRelationshipItem(childItem)%>Id(Guid <%=GetCamelCaseName(GetRelationshipItem(childItem))%>Id)
		{
			using (IDbConnection conn = SqlService.Instance.Connection)
            {                
                var items = conn.Query<<%= GetClassName(SourceTable) %>>(QUERY_GETALLBY<%=GetRelationshipItem(childItem).ToUpper()%>ID, new { <%=GetRelationshipItem(childItem)%>Id = <%=GetCamelCaseName(GetRelationshipItem(childItem))%>Id }).ToList();
                
                var list=new <%= GetCollectionClassName(SourceTable) %>();
                foreach (var item in items)
                {
                    item.MarkOld();
                    <%foreach(var item in Children){ %>
                    item.<%= GetListMember2(item)%> = new Lazy<<%=item%>List>(() => Init<%=item%>s(item), isThreadSafe: true);                 
                    <%} %>
                    <%foreach(var item in Child){ %>
            		item.<%= GetListMember3(item)%> = new Lazy<<%=item%>>(() => Init<%=item%>(item), isThreadSafe: true);      
                    <%} %>   
					<%foreach(var item in WithMany){ %>
                    item.<%= GetListMember2(GetRelationshipItem(item))%> = new Lazy<<%=GetRelationshipItem(item)%>List>(() => Init<%=GetRelationshipItem(item)%>s(item), isThreadSafe: true);
                    <%} %> 
                    list.Add(item);
                }
				list.MarkOld();
                return list;
            }
		}
		
        <%} %>
        
        /// <summary>
        /// 直接删除
        /// </summary>
        /// <returns></returns>
		public static int Delete(<%= GetPrimaryKeyType(SourceTable) %> id)
		{
            using (IDbConnection conn = SqlService.Instance.Connection)
            {                
                return conn.Execute(QUERY_DELETE, new { Id = id });
            }
		}   
        
        public static bool Exists(Guid id)
        {
            using (IDbConnection conn = SqlService.Instance.Connection)
            {                
                return conn.Query<int>(QUERY_EXISTS, new { Id = id }).Single() >= 1;
            }
        }      
        
        #endregion
        
		
		internal override int Delete(IDbConnection conn, IDbTransaction transaction)
		{
            base.MarkDelete();
            return conn.Execute(QUERY_DELETE, new { Id = Id }, transaction, null, null);
		}
		
		internal override int Update(IDbConnection conn, IDbTransaction transaction)
		{
             if (!IsDirty)
             {
                return _changedRows;
             }  
            _updateParameters+=", ChangedDate = GetDate()";
			var query = String.Format(QUERY_UPDATE, _updateParameters.TrimStart(','));
			_changedRows+= conn.Execute(query, this, transaction, null, null);
            <%foreach(var item in Children){ %>
    		<%= GetListMember2(item)%>.IsValueCreated.IfIsTrue(
			() =>
            {
 				_changedRows+=<%=item%>s.SaveChanges(conn,transaction);
            });
            <%} %> 
            <%foreach(var item in Child){ %>
			if(<%= GetListMember3(item)%>.IsValueCreated && <%=item%>!=null) 
            {
 				_changedRows += <%=item%>.SaveChange(conn, transaction);
            }
            <%} %> 
			<%foreach(var item in WithMany){ %>
			<%= GetListMember2(GetRelationshipItem(item))%>.IsValueCreated.IfIsTrue(
            () =>
            {
 				_changedRows+=<%=GetRelationshipItem(item)%>s.SaveChanges(conn,transaction);
            });
            <%} %>
            return _changedRows;
		}
		
		internal override int Insert(IDbConnection conn, IDbTransaction transaction)
		{
            _changedRows += conn.Execute(QUERY_INSERT, this, transaction, null, null);
            <%foreach(var item in Children){ %>
    		<%= GetListMember2(item)%>.IsValueCreated.IfIsTrue(
			() =>
            {
 				_changedRows+=<%=item%>s.SaveChanges(conn,transaction);
            });
            <%} %> 
            <%foreach(string item in Child){ %>    		
			if(<%= GetListMember3(item)%>.IsValueCreated && <%=item%>!=null) 
            {
 				_changedRows += <%=item%>.SaveChange(conn, transaction);
            }
            <%} %> 
			<%foreach(string item in WithMany){ %>
			<%= GetListMember2(GetRelationshipItem(item))%>.IsValueCreated.IfIsTrue(
            () =>
            {
 				_changedRows+=<%=GetRelationshipItem(item)%>s.SaveChanges(conn,transaction);
            });
            <%} %>
            return _changedRows;
		}
		
		#region 私有方法
		
		<%foreach(string item in WithMany){ %>
		protected  int RelationshipWith<%=GetRelationshipItem(item)%>(IDbConnection conn, IDbTransaction transaction)
        {
            foreach (var <%=GetCamelCaseName(GetRelationshipItem(item))%> in <%=GetRelationshipItem(item)%>s.Members)
            {
                if (<%=GetCamelCaseName(GetRelationshipItem(item))%>.IsDelete && <%=GetRelationshipItem(item)%>s.IsChangeRelationship)
                {
                    _changedRows += conn.Execute(QUERY_DELETERELARIONSHIPWITH<%=item.Replace("Sys_R_","").Replace("_","").ToUpper()%>, new { UserId = this.Id, RoleId = <%=GetCamelCaseName(GetRelationshipItem(item))%>.Id }, transaction, null, null);
                }
                else
                {
                    var isExist = conn.Query<int>(QUERY_CONTAINS<%=item.Replace("Sys_R_","").Replace("_","").ToUpper()%> , new { <%= GetClassName(SourceTable)%>Id = Id, <%=GetRelationshipItem(item)%>Id = <%=GetCamelCaseName(GetRelationshipItem(item))%>.Id },transaction).Single() >= 1;
                    if (!isExist)
                    {
                        _changedRows += conn.Execute(QUERY_ADDRELARIONSHIPWITH<%=item.Replace("Sys_R_","").Replace("_","").ToUpper()%>, new { <%= GetClassName(SourceTable)%>Id = Id, <%=GetRelationshipItem(item)%>Id = <%=GetCamelCaseName(GetRelationshipItem(item))%>.Id }, transaction, null, null);
                    }
                }
            }
            return _changedRows;
        }

        protected static <%=GetRelationshipItem(item)%>List Init<%=GetRelationshipItem(item)%>s(<%= GetClassName(SourceTable)%> <%=GetCamelCaseName(GetClassName(SourceTable))%>)
        {
            var <%=GetCamelCaseName(GetRelationshipItem(item))%>List = <%=GetRelationshipItem(item)%>.GetAllBy<%= GetClassName(SourceTable)%>Id(<%= GetCamelCaseName(GetClassName(SourceTable))%>.Id);
            <%=GetCamelCaseName(GetRelationshipItem(item))%>List.OnSaved += <%= GetCamelCaseName(GetClassName(SourceTable))%>.RelationshipWith<%=GetRelationshipItem(item)%>;
            <%=GetCamelCaseName(GetRelationshipItem(item))%>List.OnMarkDirty += <%= GetCamelCaseName(GetClassName(SourceTable))%>.MarkDirty;
            <%=GetCamelCaseName(GetRelationshipItem(item))%>List.IsChangeRelationship = true;
			return <%=GetCamelCaseName(GetRelationshipItem(item))%>List;
        }
		
		<%} %>
		<%foreach(string item in Children){ %>
		protected static <%=item%>List Init<%=item%>s(<%=GetClassName(SourceTable)%> <%=GetCamelCaseName(GetClassName(SourceTable))%>)
        {
            var <%=GetCamelCaseName(item)%>List = <%=item%>.GetAllBy<%=GetClassName(SourceTable)%>Id(<%=GetCamelCaseName(GetClassName(SourceTable))%>.Id);
            <%=GetCamelCaseName(item)%>List.OnMarkDirty += <%=GetCamelCaseName(GetClassName(SourceTable))%>.MarkDirty;
			<%=GetCamelCaseName(item)%>List.OnInsert += <%=GetCamelCaseName(GetClassName(SourceTable))%>.PostAdd<%=item%>;
            return <%=GetCamelCaseName(item)%>List;
        }
		
		protected  void PostAdd<%=item%>(<%=item%> <%=GetCamelCaseName(item)%>)
        {
			<%=GetCamelCaseName(item)%>.<%=GetClassName(SourceTable)%>Id=Id;
        }
		
		<%} %>
		<%foreach(string item in Child){ %>		
        protected static <%=item%> Init<%=item%>(<%=GetClassName(SourceTable)%> <%=GetCamelCaseName(GetClassName(SourceTable))%>)
        {
            var <%=GetCamelCaseName(item)%> = <%=item%>.GetByUserId(<%=GetCamelCaseName(GetClassName(SourceTable))%>.Id);
            if (<%=GetCamelCaseName(item)%> != null)
            {
                <%=GetCamelCaseName(item)%>.<%=GetClassName(SourceTable)%>Id = <%=GetCamelCaseName(GetClassName(SourceTable))%>.Id;
				<%=GetCamelCaseName(item)%>.OnPropertyChange += <%=GetCamelCaseName(GetClassName(SourceTable))%>.MarkDirty;
            }
            return <%=GetCamelCaseName(item)%>;
        }
		<%} %>
		#endregion
				
	}
    
	[Serializable]
    public class <%= GetCollectionClassName(SourceTable) %>:CollectionBase<<%= GetCollectionClassName(SourceTable) %>,<%= GetClassName(SourceTable) %>>
    {
        public <%= GetCollectionClassName(SourceTable) %>() { }

        protected const string tableName = "<%= SourceTable.Name %>";
        
        public static <%= GetCollectionClassName(SourceTable) %> Query(Object dynamicObj, string query = " 1=1")
        {
            using (IDbConnection conn = SqlService.Instance.Connection)
            {
                var items = conn.Query<<%= GetClassName(SourceTable) %>>(string.Format(QUERY, tableName, query), dynamicObj).ToList();

                var list = new <%= GetCollectionClassName(SourceTable) %>();
                foreach (var item in items)
                {
                    item.MarkOld();
                    list.Add(item);
                }
                return list;
            }
        }

        public static int QueryCount(Object dynamicObj, string query = " 1=1")
        {
            using (IDbConnection conn = SqlService.Instance.Connection)
            {
                return conn.Query<int>(string.Format(COUNT, tableName, query), dynamicObj).Single();
            }
        }

        public static bool Exists(Object dynamicObj, string query = " 1=1")
        {
            using (IDbConnection conn = SqlService.Instance.Connection)
            {
               return conn.Query<int>(string.Format(COUNT, tableName, query), dynamicObj).Single()>0;
            }
        }
    }
}


<script runat="template">

public string GetRelationshipItem(string tableName)
{
	return tableName.Replace("Sys_R_","").Replace("_","").Replace(GetClassName(SourceTable),"");
}
			
public string GetMemberVariableDeclarationStatement(ColumnSchema column)
{
	return GetMemberVariableDeclarationStatement("private", column);
}

public bool IsRecurrence(ColumnSchema column)
{
    return column.Name=="ParentId";
}

/// <summary>
///private UserList _userList;
/// </summary>
/// <param name="column"></param>
/// <returns></returns>
public string GetListMember1(string column)
{
	return string.Format(" _{0}List", GetCamelCaseName(column));
}
/// <summary>
///private Lazy<UserList> _userListInitalizer;
/// </summary>
/// <param name="column"></param>
/// <returns></returns>
public string GetListMember2(string column)
{
	return string.Format(" _{0}ListInitalizer", GetCamelCaseName(column));
}
public string GetListMember3(string column)
{
	return string.Format(" _{0}Initalizer", GetCamelCaseName(column));
}
public string GetListMember4(string column)
{
	return string.Format(" _{0}", GetCamelCaseName(column));
}


public string GetCollectionClassName(TableSchema SourceTable)
{
	return GetClassName(SourceTable)+"List";
}


public string GetMemberVariableDeclarationStatement(string protectionLevel, ColumnSchema column)
{
	string statement = protectionLevel + " ";
	statement += GetCSharpVariableType(column) +IsSystemNullAble(column)+ " " + GetMemberVariableName(column);
	
	string defaultValue = GetMemberVariableDefaultValue(column);
	if (defaultValue != "")
	{
		statement += " = " + defaultValue;
	}
	
	statement += ";";
	
	return statement;
}

public bool IsSystemFiled(ColumnSchema column)
{
   string name= GetPropertyName(column);
    return name=="CreatedDate" || name=="ChangedDate" || name=="Status"|| name=="CreatedBy"|| name=="ModifyBy" ||name=="Note";
}

public bool ColumnIsString(ColumnSchema column)
{
   string type= GetCSharpVariableType(column) ;
    return type=="string" ;
}

public bool ColumnIsGuid(ColumnSchema column)
{
   string type= GetCSharpVariableType(column) ;
    return type=="Guid" ;
}

public bool ColumnIsDateTime(ColumnSchema column)
{
   string type= GetCSharpVariableType(column) ;
    return type=="DateTime" ;
}


public string GetReaderAssignmentStatement(ColumnSchema column, int index)
{
	string statement = "if (!reader.IsDBNull(" + index.ToString() + ")) ";
	statement += GetMemberVariableName(column) + " = ";
	
	if (column.Name.EndsWith("TypeCode")) statement += "(" + column.Name + ")";
	
	statement += "reader." + GetReaderMethod(column) + "(" + index.ToString() + ");";
	
	return statement;
}

public string GetCamelCaseName(string value)
{
	return value.Substring(0, 1).ToLower() + value.Substring(1);
}

public string GetDescription(ColumnSchema column)
{
	string description = column.Description;
	
	if (description == "") return "";
	if (description == null) return "";	
	return description;
}

public string GetMemberVariableName(ColumnSchema column)
{
	string propertyName = GetPropertyName(column);
	string memberVariableName = "_" + GetCamelCaseName(propertyName);
	
	return memberVariableName;
}

public string GetPropertyName(ColumnSchema column)
{
	string propertyName = column.Name;
	
	if (propertyName == column.Table.Name + "Name") return "Name";
	if (propertyName == column.Table.Name + "Description") return "Description";
	
	if (propertyName.EndsWith("TypeCode")) propertyName = propertyName.Substring(0, propertyName.Length - 4);
	
	return propertyName;
}
		
public string GetMemberVariableDefaultValue(ColumnSchema column)
{
	switch (column.DataType)
	{
		case DbType.Guid:
		{
			return "Guid.Empty";
		}
		case DbType.AnsiString:
		case DbType.AnsiStringFixedLength:
		case DbType.String:
		case DbType.StringFixedLength:
		{
			return "String.Empty";
		}
		default:
		{
			return "";
		}
	}
}

public string GetCSharpVariableType(ColumnSchema column)
{
	if (column.Name.EndsWith("TypeCode")) return column.Name;

	return DbTypeCSharp[column.DataType.ToString()];	
}

public string GetReaderMethod(ColumnSchema column)
{
	return DbDataReader[column.DataType.ToString()];
}

public string GetClassName(TableSchema table)
{
    int pre = table.Name.IndexOf("_");
    if (table.Name.EndsWith("ies"))
	{
		return table.Name.Substring(pre+1, table.Name.Length - pre-4)+"y";
	}
	else if (table.Name.EndsWith("s"))
	{
		return table.Name.Substring(pre+1, table.Name.Length - pre-2);
	}
	else
	{
		return table.Name.Substring(pre+1);
	}
}

public string GetSqlDbType(ColumnSchema column)
{
	return SqlNativeSqlDb[column.NativeType.ToString()];
}

public string GetPrimaryKeyType(TableSchema table)
{
	if (table.PrimaryKey != null)
	{
		if (table.PrimaryKey.MemberColumns.Count == 1)
		{
			return GetCSharpVariableType(table.PrimaryKey.MemberColumns[0]);
		}
		else
		{
			throw new ApplicationException("This template will not work on primary keys with more than one member column.");
		}
	}
	else
	{
		throw new ApplicationException("This template will only work on tables with a primary key.");
	}
}

public override string GetFileName()
{
	return GetClassName(SourceTable) + ".cs";
}

public string GetInsertQueryString()
{
	  StringBuilder queryParameters = new StringBuilder();
      queryParameters.Append("@"+SourceTable.PrimaryKey.MemberColumns[0].Name);
	  for (int i = 0; i < SourceTable.NonPrimaryKeyColumns.Count; i++)
      {
       		queryParameters.Append(", @"+GetPropertyName(SourceTable.NonPrimaryKeyColumns[i]));
      }
      return String.Format("INSERT INTO "+SourceTable.Name +" ({0}) VALUES ({1})", queryParameters.ToString().Replace("@", ""), queryParameters.ToString());
}

public string IsSystemNullAble(ColumnSchema column)
{
	   string type= GetCSharpVariableType(column) ;
    if( (type=="Guid" ||type=="int"
		||type=="double"|| type=="decimal"
		||type=="bool"||type=="DateTime") 
		&& column.AllowDBNull)
	{
		return "?";
	}
	return "";
}
</script>
