        <h3 class="page-title">
            组织架构 <small>管理</small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    @Html.ActionLink("主页", "Index", "Manage")
                    <i class="fa fa-angle-right"></i>
                    组织架构
                </li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
