<link href="~/metronic/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" />
<link href="~/metronic/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" />
<script src="~/metronic/global/plugins/jstree/dist/jstree.min.js"></script>
<script src="~/metronic/admin/pages/scripts/ui-tree.js"></script>
<script src="~/metronic/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js"></script>
<div ng-controller="organizeController">
    <h3 class="page-title">
        组织架构 <small>管理</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="Dashboard">主页</a>
                <i class="fa fa-angle-right"></i>
                <a href="Organizes">组织架构</a>
            </li>
        </ul>
    </div>
    <div class="clearfix">
    </div>
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="portlet blue-hoki box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>组织架构
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="javascript:;" class="reload">
                            </a>
                        </div>
                        <div class="actions">
                            <a href="#stack1" class="btn btn-default btn-sm" data-toggle="modal" ng-click="newOrganize()">
                                <i class="fa fa-plus"></i> 新增
                            </a>
                            <a href="#" class="btn btn-default btn-sm">
                                <i class="fa fa-minus"></i> 批量删除
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="tree_3" class="tree-demo jstree jstree-3 jstree-default" role="tree" aria-activedescendant="j3_6">
                            <ul class="jstree-container-ul">
                                <li role="treeitem" aria-expanded="true" id="j3_1" class="jstree-node  jstree-open" aria-selected="false">
                                    <i class="jstree-icon jstree-ocl"></i>
                                    <a class="jstree-anchor" href="#">
                                        <i class="jstree-icon jstree-themeicon fa fa-folder icon-state-warning icon-lg jstree-themeicon-custom"></i>
                                        Parent Node
                                    </a>
                                    <ul role="group" class="jstree-children">
                                        <li role="treeitem" id="j3_2" class="jstree-node  jstree-leaf" aria-selected="false">
                                            <i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor jstree-clicked" href="#">
                                                <i class="jstree-icon jstree-themeicon fa fa-folder icon-state-warning icon-lg jstree-themeicon-custom">
                                                </i>Initially selected
                                            </a>
                                        </li>
                                        <li role="treeitem" id="j3_3" class="jstree-node  jstree-leaf" aria-selected="false">
                                            <i class="jstree-icon jstree-ocl">
                                            </i>
                                            <a class="jstree-anchor" href="#">
                                                <i class="jstree-icon jstree-themeicon fa fa-warning icon-state-danger jstree-themeicon-custom">
                                                </i>Custom Icon
                                            </a>
                                        </li>
                                        <li role="treeitem" aria-expanded="true" id="j3_4" class="jstree-node  jstree-open" aria-selected="false">
                                            <i class="jstree-icon jstree-ocl"></i>
                                            <a class="jstree-anchor" href="#">
                                                <i class="jstree-icon jstree-themeicon fa fa-folder icon-state-success jstree-themeicon-custom"></i>
                                                Initially open
                                            </a>
                                            <ul role="group" class="jstree-children"><li role="treeitem" id="j3_5" class="jstree-node  jstree-leaf jstree-last" aria-selected="false"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor" href="#"><i class="jstree-icon jstree-themeicon fa fa-file icon-state-warning jstree-themeicon-custom"></i>Another node</a></li></ul>
                                        </li>
                                        <li role="treeitem" id="j3_6" class="jstree-node  jstree-leaf" aria-selected="false"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor" href="#"><i class="jstree-icon jstree-themeicon fa fa-warning icon-state-warning jstree-themeicon-custom"></i>Another Custom Icon</a></li>
                                        <li role="treeitem" id="j3_7" class="jstree-node  jstree-leaf" aria-selected="false"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor  jstree-disabled" href="#"><i class="jstree-icon jstree-themeicon fa fa-check icon-state-success jstree-themeicon-custom"></i>Disabled Node</a></li>
                                        <li role="treeitem" aria-expanded="false" id="j3_8" class="jstree-node  jstree-closed jstree-last" aria-selected="false"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor" href="#"><i class="jstree-icon jstree-themeicon fa fa-folder icon-state-danger jstree-themeicon-custom"></i>Sub Nodes</a></li>
                                    </ul>
                                </li>
                                <li role="treeitem" id="j3_14" class="jstree-node  jstree-leaf jstree-last" aria-selected="false"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor" href="#"><i class="jstree-icon jstree-themeicon fa fa-folder icon-state-warning icon-lg jstree-themeicon-custom"></i>Another Node</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
            </div>
        </div>
        <div>
            <div id="stack1" class="modal fade " tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog " style="width:500px">
                    <div class="portlet blue-hoki box  ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>{{Organize.Title}}
                            </div>
                            <div class="tools">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            </div>
                        </div>
                        <div class="portlet-body tabbable-custom">
                            <ul class="nav nav-tabs tabs-reversed">
                                <li>
                                    <a href="#protlet_tab1" data-toggle="tab">部门角色设置</a>
                                </li>
                                <li class="active">
                                    <a href="#protlet_tab2" data-toggle="tab">基本信息</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade " id="protlet_tab1">

                                </div>
                                <div class="tab-pane fade active in " id="protlet_tab2">
                                            <form action="#" id="form_editOrganize" name="form_editOrganize" class=" form-horizontal ">
                                                <div class=" form form-body  ">
                                                    <div class="alert alert-danger display-hide form-group">
                                                        <button class="close" data-close="alert"></button>
                                                        You have some form errors. Please check below.
                                                    </div>
                                                    <div class="alert alert-success display-hide form-group">
                                                        <button class="close" data-close="alert"></button>
                                                        Your form validation is successful!
                                                    </div>
                                                    <div class="form-group " ng-class="{'has-error': form_editOrganize.organizeName.$dirty && form_editOrganize.organizeName.$invalid}">
                                                        <div class="control-label col-md-3">
                                                            部门名称 <span class="required">*</span>
                                                        </div>
                                                        <div class="col-md-6 input-medium">
                                                            <input type="text" class="form-control input-sm" ng-model="Organize.Name" required ng-minlength="2" name="organizeName">
                                                            <span class="help-block " ng-show="form_editOrganize.organizeName.$dirty && form_editOrganize.organizeName.$error.required">名称不能为空.</span>
                                                            <span class="help-block " ng-show="form_editOrganize.organizeName.$dirty && form_editOrganize.organizeName.$error.minlength">请输入最少2个汉字.</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group " ng-class="{'has-error': form_editOrganize.organizeCode.$dirty && form_editOrganize.organizeCode.$invalid}">
                                                        <div class="control-label col-md-3">
                                                            部门编码 <span class="required">*</span>
                                                        </div>
                                                        <div class="col-md-6 input-medium">
                                                            <input type="text" class="form-control input-sm" ng-model="Organize.Code" required ng-pattern="/^\d{4}$/" name="organizeCode">
                                                            <span class="help-block " ng-show="form_editOrganize.organizeCode.$dirty && form_editOrganize.organizeCode.$error.required">名称不能为空.</span>
                                                            <span class="help-block " ng-show="form_editOrganize.organizeCode.$dirty && form_editOrganize.organizeCode.$error.pattern">请输入4位数字.</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="control-label col-md-3">
                                                            部门层级&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </div>
                                                        <div class=" col-md-6 input-medium">
                                                            <input type="text" class="form-control input-sm" ng-model="Organize.Level" readonly="readonly" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group " ng-class="{'has-error': form_editOrganize.organizeSort.$dirty && form_editOrganize.organizeSort.$invalid}">
                                                        <div class="control-label col-md-3">
                                                            排序 <span class="required">*</span>
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <div class="input-inline input-medium">
                                                                <div class="input-group bootstrap-touchspin" style="width:150px">
                                                                    <span class="input-group-btn "></span>
                                                                    <input id="organizeSort" type="text" ng-model="Organize.Sort" required ng-pattern="/^(\d)+$/" name="organizeSort" class="form-control ">
                                                                    <span class="input-group-btn "></span>
                                                                </div>
                                                            </div>
                                                            <span class="help-block " ng-show="form_editOrganize.organizeSort.$dirty && form_editOrganize.organizeSort.$error.required">排序不能为空.</span>
                                                            <span class="help-block " ng-show="form_editOrganize.organizeSort.$dirty && form_editOrganize.organizeSort.$error.pattern">请输入数字.</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <div class="control-label col-md-3">
                                                            父部门&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </div>
                                                        <div class="col-md-6 input-medium"><input type="text" class="form-control input-sm" ng-model="Organize.Parent" readonly="readonly" /></div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <div class="control-label col-md-3">
                                                            备注&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <textarea class="form-control" name="OrganizeNote" ng-model="Organize.Note">    </textarea>
                                                            <small class="help-block">
                                                                描述信息
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <h6 class="form-section"></h6>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn blue btn-sm"><i class="fa fa-check"></i> 新增</button>
                                                            <button type="button" class="btn default btn-sm" data-dismiss="modal" aria-hidden="true">关闭</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        UITree.init();

        $("#organizeSort").TouchSpin({
            buttondown_class: 'btn green',
            buttonup_class: 'btn green',
            min: 0,
            max: 1000000000,
            stepinterval: 1,
            maxboostedstep: 10000000
        });
    });
</script>
