<div ng-controller="organizeController">
    <h3 class="page-title">
        组织架构 <small>管理</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/index">主页</a>
                <i class="fa fa-angle-right"></i>
                <a href="#/organizes">组织架构</a>
            </li>
        </ul>
    </div>
    <div class="clearfix">
    </div>
    <div>
        <div class="row">

        </div>
    </div>
</div>
