
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="CAF" type="CAF.Configuration.NamedConfigurationSectionGroup, CAF">
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
      <section name="objectBuilder" type="CAF.Configuration.ObjectBuilderConfigurationSection,CAF" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LocalConnection" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LogConnection" connectionString="Data Source=.;Initial Catalog=CAFdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="LocalConnection" />
  <CAF>
    <objectBuilder>
      <builders>
        <add name="ProductBuild">
          <steps>
            <add name="step1" seqence="2" times="2" />
            <add name="step2" seqence="1" times="1" />
          </steps>
        </add>
      </builders>
      <objectPool>
        <add name="AdvancedCalculator" max="3" timeout="2000" />
        <add name="SimpleCalculator" max="2" timeout="2000" />
      </objectPool>
    </objectBuilder>
    <unity>
      <typeAliases>
        <typeAlias alias="Product" type="TestCAF.IProduct,TestCAF" />
        <typeAlias alias="ProductA" type="TestCAF.ProductA,TestCAF" />
        <typeAlias alias="ProductB" type="TestCAF.ProductB,TestCAF" />
        <typeAlias alias="AdvancedCalculator" type="TestCAF.AdvancedCalculator,TestCAF" />
        <typeAlias alias="SimpleCalculator" type="TestCAF.SimpleCalculator,TestCAF" />
        <typeAlias alias="ProductBuild" type="TestCAF.Product,TestCAF" />
        <typeAlias alias="IPlace" type="TestCAF.IPlace,TestCAF" />
        <typeAlias alias="PlaceA" type="TestCAF.PlaceA,TestCAF" />
      </typeAliases>
      <container>
        <register type="Product" mapTo="ProductA" name="a">
          <constructor>
            <param name="productName" value="zzzz"/>
          </constructor>
        </register>
        <register type="Product" mapTo="ProductB" name="b"/>
        <register name="p2" type="Product" mapTo="ProductB" />
        <register name="p1" type="Product" mapTo="ProductA" />
      </container>
    </unity>
  </CAF>
</configuration>