<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="CAF" type="CAF.Configuration.NamedConfigurationSectionGroup, CAF">
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
      <section name="objectBuilder" type="CAF.Configuration.ObjectBuilderConfigurationSection,CAF" />
    </sectionGroup>
  </configSections>
  <CAF>
    <unity>
      <typeAliases>
        <typeAlias alias="IValidation" type="CAF.Validations.IValidation,CAF.Utility" />
        <!--验证操作接口 -->
        <typeAlias alias="IValidationHandler" type="CAF.Validations.IValidationHandler,CAF.Utility" />
        <!--验证处理器接口 -->
        <typeAlias alias="ICacheProvider" type="CAF.Caches.ICacheProvider,CAF.Utility" />
        <!--缓存提供程序接口 -->
        <typeAlias alias="Validation" type="CAF.Validations.Validation,CAF.Utility" />
        <!--验证操作 -->
        <typeAlias alias="ValidationHandler" type="CAF.Validations.ValidationHandler,CAF.Utility" />
        <!--验证处理器 -->
        <typeAlias alias="CacheProvider" type="CAF.Caches.LocalCacheProvider,CAF.Utility" />
        <!--缓存提供程序 -->
      </typeAliases>
      <containers>
        <container>
          <type type="IValidation" mapTo="Validation" />
          <type type="IValidationHandler" mapTo="ValidationHandler" />
          <type type="ICacheProvider" mapTo="CacheProvider" />
        </container>
      </containers>
    </unity>
    </CAF>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Language="zh_CN" 
      AjaxTimeout="120" 
      EnableAjax="true" 
      Theme="Neptune" 
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      IconBasePath="~/res/icon" 
      EnableAjaxLoading="true" 
      AjaxLoadingType="default" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/theme" 
  -->
  <FineUI DebugMode="false" Theme="Blue" AjaxTimeout="600" />
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="CAFConnectionString" />
  </elmah>
  <appSettings />
  <connectionStrings>
   <add connectionString="Data Source=(localdb)\v11.0;Initial Catalog=CAF;Integrated Security=True;Pooling=False" name="CAFConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
      </controls>
    </pages>
    <!--    <httpModules>-->
    <!--      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />-->
    <!--    </httpModules>-->
    <!--    <httpHandlers>-->
    <!--      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false" />-->
    <!--    </httpHandlers>-->
    
    <sessionState cookieless="AutoDetect" timeout="30" mode="InProc" />
    <httpRuntime maxRequestLength="102400 " />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms name="CookieName" loginUrl="/Login.aspx" protection="All" timeout="10" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
  </system.web>
  <!--
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  -->
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" />
      <add name="ElmahHandler" verb="*" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>